.transition, .transform, .animation{
    border: 2px solid gray;
    margin: 1rem 0;
}

.box{
    width: 200px;
    height: 200px;
}

.b1{
    background-color: lightblue;
}

.b2{
    background-color: lightcoral;
}

.b3{
    background-color: lightpink;
}

.b4{
    background-color: lightseagreen;
}

/* CSS Transitions */

.transition .b1{
    /* name/duration/timingfunction/delay */
    transition: width 1000ms cubic-bezier(.53,-0.89,.59,1.8) 0.5s;
}

.transition .b1:hover{
    width: 400px;
}

.transition .b2{
    /* transition: width 0.5s ease-in, height 1s ease-in; */
    transition: width 0.5s, height 1s;
    transition-timing-function: ease-in;

    /* width to transition first, once done
    transition height */
    transition: width 0.5s ease-in, height 1s ease-in 0.5s;
}

.transition .b2:hover{
    width: 400px;
    height: 400px;
}

.transition .b3{
    transition: all 1s;
}

.transition .b3:hover{
    background-color: lightslategrey;
    border-radius: 50%;
}

/* CSS Transform */

.transform .box{
    transition: all 1s 0.3s;
}

.transform .b1{
 transform-origin: bottom right;
}

.transform .b1:hover{
    /* rotating around z axis */
    transform: rotate(180deg);
    /* rotate around z axis 4 times 
    in anticlockwise */
    /* transform: rotate(-4turn); */
}

.transform .b2:hover{
    transform: translate(20px, 30px);
    /* move the box towards left direction
     on x axis 10pxs */
     transform: translate(-10px, 0);
     transform: translateX(-10px);
}

.transform .b3:hover{
    transform: scale(0.5);
    /* only decrease by 0.5 
    x direction/width */
    transform: scale(0.5, 1 );
    transform: scaleX(0.5);
    /* increase width by 1.5
    and decrease height by 0.3 */
    transform: scale(1.5, 0.3);
}

.transform .b4:hover{
    transform: skew(20deg, 40deg);
}

/* css animation */

@keyframes changebg{
    from{
        background-color: lightgreen;
    }
    to{
        background-color: lightslategray;
    }
}

.animation .b1{
    animation-name: changebg;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes moveAround{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(200px, 0);
    }
    50%{
        transform: translate(200px, 200px);
    }
    75%{
        transform: translate(0, 200px);
    }
    100%{
        transform: translate(0,0);
    }
}

.animation .b2{
    /* name duration delay count direction */
    animation: moveAround 4s 1s 10 alternate;

}

.animation .b2:active{
    animation-play-state: paused;
}

@keyframes multipleTransformations{
    0%{
        transform: scale(0.5) translateX(0);
    }
    100%{
        transform: scale(1.5) translateX(600px);
    }
}

.animation .b3{
    /*name duration delay count direction*/
    animation: multipleTransformations 2s 1s infinite alternate;
}